openapi: 3.0.0
info:
  title: Sandbox Chat Service API
  description: Documentation of Chat Service API
  version: 1.0.0
servers:
- url: https://mockteststart.getsandbox.com/Json
paths:
  /getEvent:
    get:
      summary: Long Polling Data response after a fixed time
      operationId: get_event_get
      responses:
        200:
          description: Either a new Notification or same.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
      x-openapi-router-controller: swagger_server.controllers.default_controller
  /register:
    post:
      summary: Register using EventID if present.
      operationId: register_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body'
        required: true
      responses:
        200:
          description: Return required EventID and QueueID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
      x-openapi-router-controller: swagger_server.controllers.default_controller
  /addNotification:
    post:
      summary: Add new Notification
      operationId: add_notification_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/body_1'
        required: true
      responses:
        200:
          description: Successful Response upon adding new notification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
      x-openapi-router-controller: swagger_server.controllers.default_controller
components:
  schemas:
    inline_response_200:
      type: object
      properties:
        Code:
          type: integer
          description: Message Code
          format: int32
        Message:
          type: object
          description: Success or Failure Message
      example:
        Message: {}
        Code: 0
    body:
      required:
      - AccessToken
      - EventID
      type: object
      properties:
        EventID:
          type: string
          description: ID of a particular Event
        AccessToken:
          type: string
          description: JWT Token
    inline_response_200_1:
      type: object
      properties:
        Code:
          type: integer
          description: Message Code
          format: int32
        Message:
          type: string
          description: Success or Failure Message
        EventID:
          type: string
          description: Unique ID of a particular Event being accessed
        QueueID:
          type: string
          description: Unique ID of queue inline of the Event being accessed.
      example:
        Message: Message
        EventID: EventID
        QueueID: QueueID
        Code: 0
    addNotification_Notification_Data:
      type: object
      properties:
        BookingID:
          type: integer
          description: Unique Booking ID of a customer
          format: int32
        BookingName:
          type: string
          description: The kind of booking being executed
    body_1:
      required:
      - BookingID
      - BookingName
      - Notifcation_Body
      - NotificationID
      - Notification_Data
      - Notification_Icon
      - Notification_Title
      - Notification_Type
      - Read_Time
      type: object
      properties:
        Notification_Body:
          type: string
          description: Body of the Notification
        NotificationID:
          type: integer
          description: Unique ID of the notification
          format: int32
        Notification_Data:
          $ref: '#/components/schemas/addNotification_Notification_Data'
        Notification_Icon:
          type: string
          description: Icon of the notification being sent
        Notification_Title:
          type: string
          description: Title of the Notification
        Notification_Type:
          type: string
          description: Different kinds of Notifications
        Read_Time:
          type: integer
          description: The time at which the Notification is read
          format: int32
    inline_response_200_2:
      type: object
      properties:
        Code:
          type: integer
          description: Message Success/failure Code
          format: int32
        Message:
          type: string
          description: Describing the Success or Failure of Code
      example:
        Message: Message
        Code: 0

